flask==2.0.1
flask-cors==3.0.10
tensorflow==2.9.1
numpy==1.23.5
Pillow==9.3.0
python-box==6.0.2
PyYAML==6.0
ensure==1.0.2
joblib==1.1.0
types-PyYAML==6.0.12.2
scipy==1.9.3
requests==2.28.1
python-dotenv==0.21.0
tqdm==4.64.1
pathlib==1.0.1
dvc==2.10.2
mlflow==1.26.1
notebook==6.4.12
boto3==1.24.89
mypy-boto3-s3==1.24.76
pandas==1.5.0
scikit-learn==1.1.3